{% extends "config/base.html" %}

{% block content %}
<div class="container justify-content-center" style="text-align: center;">
    <hr>
    <div class="container mb-5 mt-5">
        <h1>Added</h1>
        <h3>On a daily average, you add {{ added_average }} cards.</h3>
        <canvas id="addedChart"></canvas>
    </div>
    <hr>
    <div class="container mb-5 mt-5">
        <h1>Reviewed</h1>
        <h3>On a daily average, you review {{ reviewed_average }} cards.</h3>
        <canvas id="learntChart"></canvas>
    </div>
    <hr>
    <div class="container mb-5 mt-5">
        <h1>Correct rate</h1>
        <h3>On a daily average, your rate of correct answer is {{ easiness_average }}%.</h3>
        <canvas id="easinessChart"></canvas>
    </div>
    <hr>
    <div class="container mb-5 mt-5">
        <h1>Interval</h1>
        <h3>The interval between dates of review.</h3>
        <canvas id="intervalChart"></canvas>
    </div>
    <hr>
    <div class="container mb-5 mt-5">
        <h1>Used in Roleplay</h1>
        <h3>The number of words you used in RolePlay.</h3>
        <canvas id="useChart"></canvas>
    </div>
    <hr>
</div>
{% endblock %}

{% block style %}
<style>
    html, body {
      width: 100%;
      position: absolute;
    }
</style>
{% endblock %}

{% load static %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="{% static 'decks/js/charts.js' %}"></script>
<script>
    const review_progress_x = JSON.parse('{{ review_progress_x|safe }}');
    const review_progress_y = JSON.parse('{{ review_progress_y|safe }}').map(num => Number(num));
    const card_easiness_progress_x = JSON.parse('{{ card_easiness_progress_x|safe }}');
    const card_easiness_progress_y = JSON.parse('{{ card_easiness_progress_y|safe }}').map(num => Number(num));
    const added_card_progress_x = JSON.parse('{{ added_card_progress_x|safe }}');
    const added_card_progress_y = JSON.parse('{{ added_card_progress_y|safe }}').map(num => Number(num));
    const card_interval_x = JSON.parse('{{ card_interval_x|safe }}');
    const card_interval_y = JSON.parse('{{ card_interval_y|safe }}').map(num => Number(num));
    const word_use_x = JSON.parse('{{ word_use_x|safe }}');
    const word_use_y = JSON.parse('{{ word_use_y|safe }}').map(num => Number(num));

    if(added_card_progress_y.length > 0) {
        lineChart("addedChart", added_card_progress_x, added_card_progress_y);
    }

    if(review_progress_y.length > 0) {
        lineChart("learntChart", review_progress_x, review_progress_y);
    }

    if(card_easiness_progress_y[0] > 0 || card_easiness_progress_y[1] > 0) {
        pieChart("easinessChart", card_easiness_progress_x, card_easiness_progress_y);
    }

    if(card_interval_y.length > 0) {
        barChart("intervalChart", card_interval_x, card_interval_y);
    }

    if(word_use_y.length > 0) {
        lineChart("useChart", word_use_x, word_use_y);
    }

</script>
{% endblock %}