{% extends "config/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'roleplay/css/chat.css' %}" />
{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="chat_window">
        <header>
            <div class="chat-header">
                <h2 class="inline-block">{{ prompt_title }}</h2>
            </div>
        </header>

        <ul id="chat">
            <li class="you">
                <div class="entete">
                    <span class="status green"></span>
                    <h2>Chat GPT</h2>
                    <!-- <div class="triangle"></div> -->
                    <h3>{{ current_time }}</h3>
                </div>
                <div class="message" id="first_message">
                    {{ first_message }} <i class="fa fa-volume-up"></i>
                </div>
            </li>
            <li class="me">
                <div class="entete">
                    <h3>{{ current_time }}</h3>
                    <h2>User</h2>
                    <!-- <div class="triangle"></div> -->
                    <span class="status blue"></span>
                </div>
                <div class="message">
                    <p>Start talking in Japanese with the bot and practice your kaiwa skills.</p>
                </div>
            </li>
        </ul>
        <footer>
            <textarea placeholder="Type your message" id="msgText"></textarea>
            <div class="submit">
                <a class="inline-block" onclick="sendMsg()">Send</a>
                <a class="inline-block sound" id="recordStart">Voice <i class="fa fa-microphone"></i></a>
                <a class="inline-block end" href="{% url 'chat_review' %}">End <i class="fa-sign-out"></i></a>
            </div>
        </footer>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('recordStart').onclick = () => {
        let recognization = new webkitSpeechRecognition();
        if (recognization == undefined) {
            alert("Speech Recognization is not supported. Please try again on another browser.")
            return;
        }
        recognization.lang = "ja-JP";
        recognization.onstart = () => {
            console.log("Listening...");
        }
        recognization.onresult = (e) => {
            var transcript = e.results[0][0].transcript;
            document.getElementById("msgText").value = transcript;
        }
        recognization.start();
    }
    const chatAudio = (text) => {
        const synth = window.speechSynthesis;
        const voices = synth.getVoices();
        const utterThis = new SpeechSynthesisUtterance(text);
        utterThis.lang = "ja-JP";
        synth.speak(utterThis);
    }

    document.getElementsByClassName('fa fa-volume-up')[0].style.cursor = 'pointer';
    document.getElementsByClassName('fa fa-volume-up')[0].onclick = function () {
        chatAudio(document.getElementById('first_message').textContent);
    };
</script>
<script>
    const sendMsg = () => {
        const msgText = document.getElementById('msgText').value;
        if(msgText.replace(" ", "").length == 0) {
            alert("chat box is blank, please insert some values.");
            return;
        }
        document.getElementById('msgText').value = '';
        const chat = document.getElementById('chat');
        const meChatBox = document.getElementsByClassName('me')[0];
        const newMeChat = meChatBox.cloneNode(true);
        chat.appendChild(newMeChat);
        let messageLength = document.getElementsByClassName('message').length;
        document.getElementsByClassName('message')[messageLength - 1].textContent = msgText;

        const youChatBox = document.getElementsByClassName('you')[0];
        const newYouChat = youChatBox.cloneNode(true);
        chat.appendChild(newYouChat);
        messageLength = document.getElementsByClassName('message').length;
        document.getElementsByClassName('message')[messageLength - 1].innerHTML = '<p class="new-you-message">Loading...</p>';

        $.ajax({
            url: "{% url 'get_chat_response' %}",
            type: "POST",
            dataType: "json",
            data: {
                "message": msgText,
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
            },
            success: (data) => {
                if (data.system) {
                    const youChatBox = document.getElementsByClassName('you')[0];
                    const newYouChat = youChatBox.cloneNode(true);
                    chat.appendChild(newYouChat);
                    let messageLength = document.getElementsByClassName('message').length;
                    document.getElementsByClassName('message')[messageLength - 1].innerHTML = data.system;
                }

                let messageLength = document.getElementsByClassName('new-you-message').length;
                document.getElementsByClassName('new-you-message')[messageLength - 1].innerHTML = data.response + ' <i class="fa fa-volume-up"></i>';
                document.getElementsByClassName('new-you-message')[messageLength - 1].lastElementChild.style.cursor = 'pointer';
                document.getElementsByClassName('new-you-message')[messageLength - 1].lastElementChild.onclick = function () { return chatAudio(data.response) };

            },
            error: (error) => {
                console.log(error);
                let messageLength = document.getElementsByClassName('new-you-message').length;
                document.getElementsByClassName('new-you-message')[messageLength - 1].innerHTML = 'Error likely due to timeout, please try again with a better internet connection.';
            }
        })
    }
</script>
{% endblock %}