{% extends "config/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'roleplay/css/review.css' %}" />
{% endblock %}

{% block content %}
<div class="review_container justify-content-center">
<div class="result_box justify-content-center">
    <div class="icon">
        <i class="fas fa-comments"></i>
    </div>
    <div class="complete_text">You've completed the Chat!</div>
    <div class="feedback_text">{{ review }}</p>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}