{% extends "config/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'dictionary/css/word_search.css' %}" />
{% endblock %}

{% block content %}
<div>
  <div class="wrapper">
    <header>Japanese Dictionary</header>
    <div class="search">
      <input type="text" id="searchInput" name="word" placeholder="Search a word"
        value="{%if searchWord%}{{searchWord}}{%endif%}" required>
      <i class="fas fa-search"></i>
      <span class="material-icons" onclick="deleteInput()">close</span>
    </div>
    <p class="info-text">Type any existing word and press enter to get meaning, example, synonyms, etc.</p>
  </div>
  <div class="search_results">
    <ul class="cards">
      {% for word in words%}
      <div class="card">
        <div>
          <h3 class="card-title">{{ word.slug }}</h3>
          <div class="card-content">
            <div class="spelling">
              <div class="details">
                <p>{{ word.kanji }}</p>
                <span>{{ word.hiragana }}</span>
              </div>
            </div>
            <ul>
              {% for definition in word.definitions %}
              <li class="meaning">
                <span>{{ definition.grammar }}</span>
                <p>{{ definition.definition }}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="d-flex">
          <div class="btn-link-wrapper d-inline-block ml-2">
            <a href="" class="btn-link disable">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const searchInput = document.querySelector("#searchInput");
  const container = document.querySelector('.cards');
  const masonry = new Masonry(container, {
    itemSelector: '.card',
    columnWidth: 30,
  });

  function deleteInput() {
    searchInput.value = "";
  }

  $('#searchInput').keypress(function (e) {
    if (e.which == '13') {
      window.location =  "{% url 'word_search' %}?search=" + searchInput.value; 
    }
  })
</script>
{% endblock %}