{% extends "config/base.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" type='text/css' href="{% static 'css/dictionary/word_detail.css' %}" />
{% endblock %}

{% block modal %}
<div class="modal" id="addToDeckModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Add to deck</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" action="{% url 'add_card' %}" method="post">
                    {% csrf_token %}
                    <select name="deck_id" class="deck_id">
                        {% for deck in decks %}
                        <option value="{{ deck.id }}">{{ deck.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name='id' value="{{ id }}">
                    <input type="submit" class="btn btn-primary" value="Add to deck">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="row justify-content-center">
        <div class="card d-inline-block">
            <div>
                <h3 class="card-title">{{ word.slug }} <i class="fas fa-volume-up"></i></h3>
                <div class="card-content">
                    <div class="spelling mb-1">
                        <p>{{ word.kanji }}</p>
                        <span>{{ word.hiragana }}</span>
                    </div>
                    <div class="meaning">
                        <ul>
                            {% for meaning in word.definitions %}
                            <li class="meaning">
                                <span>{{ meaning.grammar }}</span>
                                <p>{{ meaning.definition }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sentences mt-3">
                        <ul>
                            {% for sentence in word.sentences %}
                            <li>
                                <span style="font-weight:bold;" class="sentence_jp"> <i class="fa fa-star"></i>
                                    {{ sentence.jp_sentence }} <i class="fas fa-volume-up"></i></span>
                                <p>{{ sentence.en_sentence }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div>
                    {% if word_added %}
                    <div class="btn-link-wrapper d-inline-block">
                        <a class="btn-link disabled">Added !</a>
                    </div>
                    {% else %}
                    <div class="btn-link-wrapper d-inline-block" id="addToDeckBtn">
                        <a href="" class="btn-link" onclick="return false;">Add to deck</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card d-inline-block">
            <img src="{{ image_url }}" title="{{ image_url }}">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var modal = document.getElementById("addToDeckModal");
    var btn = document.getElementById("addToDeckBtn");
    var span = document.getElementsByClassName("close")[0];
    var bg = document.getElementsByClassName("bg")[0];

    btn.onclick = function () {
        modal.style.display = "block";
        bg.classList.add("blur");
    }

    span.onclick = function () {
        modal.style.display = "none";
        bg.classList.remove("blur");
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            bg.classList.remove("blur");
        }
    }
</script>
{% endblock %}