body, html {
    width: 100%;
    clip: auto;
    position: absolute;
    overflow-x: hidden;
}

.chat-container {
    width: 80%;
    height: auto;
    background: #eff3f7;
    margin: 50px auto;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
}

.chat_window {
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

.status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.chat_window header {
    padding: 15px;
}

.chat_window header div {
    margin-left: 10px;
}

.chat_window header h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.chat_window header h3 {
    font-size: 14px;
    font-weight: normal;
    color: #7e818a;
}

#chat {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 400px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#chat li {
    padding: 10px 30px;
}

#chat h2,
#chat h3 {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

#chat h3 {
    color: #bbb;
}

#chat .entete {
    margin-bottom: 5px;
}

#chat .message {
    padding: 20px;
    /* color: #fff; */
    line-height: 25px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

#chat .me {
    text-align: right;
}

#chat .you .message {
    background-color: #58b666;
}

#chat .me .message {
    background-color: #6fbced;
}

#chat .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}

#chat .you .triangle {
    border-color: transparent transparent #58b666 transparent;
    margin-left: 15px;
}

#chat .me .triangle {
    border-color: transparent transparent #6fbced transparent;
    margin-left: 630px;
}

.chat_window footer {
    padding: 20px 30px 10px 20px;
}

.chat_window footer textarea {
    resize: none;
    border: none;
    display: block;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    padding: 20px;
    font-size: 13px;
    margin-bottom: 13px;
}

.chat_window footer textarea::placeholder {
    color: #ddd;
}

a {
    cursor: pointer;
}

.sound, .end {
    margin-left: 50px;
    cursor: pointer;
}

a:not([href]):not([tabindex]) {
    color: black;
}

.chat_window footer a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: top;
    margin-top: 5px;
    display: inline-block;
}

.submit {
    float: right;
    margin-right: 50px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px){
    .chat-container {
        width: 95%;
        height: 100%;
    }
    .submit {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 400px){
    .submit {
        font-size: 13px;
    }
}