{% extends "config/base.html" %}

{% block content %}
<div class="review_container justify-content-center">
    <div class="justify-content-center mt-5">
        <h1 class="mt-3" style="text-align:center">Welcome to FluentCard, a ChatGPT-powered Flashcard Website !</h1>
        <div class="mt-3">
            <h2>Unlike other flashcard applications, we use Generative AI to enhance vocabulary learning experience</h2>
            <ul>
                <li>ChatGPT-generated exercises: study the flashcards by AI-generated exercise, only memorize but understand vocabulary better.</li>
                <li>Built-in Dictionary: let's search for words in our built-in dictionary with official data from Jisho.org, create flashcards from words directly without extra typing.</li>
                <li>Prompt based RolePlay: let's practice using the words you are learning in real conversations, you can choose or create your own roleplay prompts.</li>
            </ul>
        </div>
        <div class="mt-3">
            <h2>Quick start: Check out this video to see how to navigate the application</h2>
            <video width="80%" controls>
                <source src="https://fluentcard.s3.ap-northeast-1.amazonaws.com/FluentCard+-+Google+Chrome+2023-12-10+12-40-06.mp4" type="video/mp4">  
            </video>
        </div>
        <div class="mt-3">
            <h2>Note: About the Timeout error:</h2>
            <p>This application use generative AI, so the time to generate data (especially images) might leads to timeout error. Please understand and use the application in good internet connection to have the best experience.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    html,
    body {
        width: 100%;
        position: absolute;
        overflow-x: hidden;
    }
</style>
{% endblock %}