.decks-container {
    display: flex;
    flex-direction: column;
}

.page-title {
    margin-top: 60px;
}

.deck {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    /* left: 50%; */
    margin: 10px;
    overflow: hidden;
}

.deck h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.deck h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.deck-preview {
    background-color: var(--deep_purple);
    color: white;
    padding: 30px;
    max-width: 250px;
}

.deck-preview a {
    color: white;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.deck-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    top: 35px;
    right: 30px;
    text-align: right;
    width: 30%;
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress::after {
    border-radius: 3px;
    background-color: var(--deep_purple);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: var(--bar-width);
}

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

#learn-deck-btn {
    margin-right: 10px;
}

#learn-deck-btn:hover {
    /* border: 1px solid var(--purple); */
    color: white;
    background-color: blue;
}

@media only screen and (max-width: 1024px) {
    body, html {
        width: 100%;
        height: 100%;
        clip: auto;
        position: absolute;
        overflow: hidden;
    }
}

@media only screen and (max-width: 600px){
    .deck {
        height: 170px;
    }
    .btn {
        font-size: 10px;
        padding: 12px 10px;
        margin-top: 40px;
    }
    .deck-info {
        padding: 20px;
    }
    .deck-preview {
        padding: 20px;
    }
    .deck-preview a {
        margin-top: 20px;
    }
    h2 {
        font-size: 1.2em;
    }
    .progress {
        margin-bottom: 10px;
    }
    .progress-container {
        width: 50%;
        top: 75px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px){
    .btn {
        font-size: 8px;
        padding: 12px 7px;
    }
    #learn-deck-btn {
        margin-right: 0px;
    }
}