.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
}

.modal-header {
    border-bottom: 2px solid var(--deep_purple);
}